<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link href="../assets/main.css" rel="stylesheet">
     <!-- <link href="../assets/write.css" rel="stylesheet"> -->
    <title>New post</title>


</head>
<body>
    <div class="container">
<div class="topnav" id="myTopnav">
  <a href="/home">Home</a>
  <a href="/news">News</a>
  <a href="/posts">My Posts</a>
  <a href="/newpost">New post</a>
    <a href="/chat">Chat</a>
</div>

{{if .IsGet}}
<div class="container1">
  <h1> New post </h1>
<form action="/newpost" method="POST" >
   <label for="fname">Title</label>
    <input type="text" id="fname" name="title" placeholder="Title"/>

    <label for="lname">Subject</label>
   <br>
   <input name="subject" type="text" placeholder="Subject" style="width: 425px; height: 100px;" />

   

    <div id="ska">
    <input type="submit" value="Submit!"> 
</form>
</div>
{{end}}


{{if .IsPost}}
<h1 style="float:center;text-align: center;"><a href="/posts"> Posted! </a></h1>
{{end}}

</div>
  
</body>

</html>