<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link href="../assets/login.css" rel="stylesheet">
    <title>Sign Up</title>

</head>
<body>
<div class="container">
    <h1>Sign up</h1>
  <form action="/register" method="POST" >
    <label for="fname">Username</label>
    <input type="text" id="fname" name="username" placeholder="Your Username">

    <label for="lname">Password</label>
    <input type="text" id="lname" name="password" placeholder="Your Password">

    <label for="lname">Mail</label>
    <input type="text" id="lname" name="mail" placeholder="Your Mail">

    <div id="ska">
    <input type="submit" value="Sign Up">
</div>

  </form>
     
</div>
</div>

</body>

</html>